div#players {
  width: 90%;
}

div#players ul,
div#categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div#players ul li {
  display: block;
  float: left;
  width: 32%;
  text-align: center;
  margin: 0.5%;
  padding: 2% 0;
  background-color: #EEEEEE;
}

div#players ul li:nth-child(1) {
  background-color: #FFEEEE;
}

div#players ul li:nth-child(2) {
  background-color: #EEFFEE;
}

div#players ul li:nth-child(3) {
  background-color: #EEEEFF;
}

div#players ul li:nth-child(1).active {
  background-color: #FFAAAA;
}

div#players ul li:nth-child(2).active {
  background-color: #AAFFAA;
}

div#players ul li:nth-child(3).active {
  background-color: #AAAAFF;
}

div#players ul li:nth-child(1).passive,
div#players ul li:nth-child(2).passive,
div#players ul li:nth-child(3).passive {
  background-color: #EEEEEE;
}

div#players span.score.positive {
  color: green;
}

div#players span.score.negative {
  color: red;
}

div#main {
  width: 88.2%;
  margin-left: 0.5%;
  text-align: center;
}

div#answer {
  background-color: #EEEEEE;
  padding: 100px 0;
}

div.category {
  width: 19%;
  margin: 0.5%;
  float: left;
}

div.category ul li {
  background-color: #EEEEEE;
  margin: 2px 0;
  padding: 15% 0;
}

div#players ul li span {
  display: block;
}

div.clear {
  clear: both;
}